{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "module"
  },
  "rules": {
    "semi": 2,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": false
      }
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "no-console": 0
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
